.hd {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  align-items: center;
}

.hd .hdJudul {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.hd .hdJudul p {
  margin: 20px 0;
}

.hd .hdBox {
  display: grid;
  width: 95%;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.hd .hdBox .hdImg {
  margin: 15px;
  /* width:10px auto; */
}

.hd .hdBox .hdImg a img {
  border-radius: 10px;
  width: 100%;
}
