@media screen and (max-width: 1200px) {
  nav {
    padding: 30px 50px;
    /* justify-content: space-evenly; */
  }

  nav.sticky {
    padding: 5px 50px;
  }

  nav ul li:nth-child(3) {
    margin-right: 40px;
  }

  /* Header */
  .content {
    flex: wrap;
    padding: 0 10px;
  }
  .content .imgBox {
    flex: 50%;
    text-align: center;
  }
  .content .imgBox img {
    width: 70%;
  }
  .content .textBox {
    flex: 50%;
    order: 2;
  }
  .content .textBox h1 {
    font-size: 30px;
  }

  .content .textBox p {
    font-size: 18px;
  }

  /* Tutorial */

  .tutorial .textTutorial {
    padding: 0 10px;
  }

  .tutorial .textTutorial .textJudul {
    margin-bottom: 20px;
  }

  .tutorial .textTutorial .textJudul h2 {
    font-size: 1.4rem;
  }

  .tutorial .textTutorial .textJudul p {
    line-height: 22px;
  }

  .tutorial .textTutorial .langkahBox .textLangkah {
    line-height: 22px;
    margin: 10px 0;
  }

  .tutorial .textTutorial .langkahBox .textLangkah .imgLangkah img {
    width: 50px;
  }

  .tutorial .textTutorial .langkahBox .textLangkah p {
    margin-left: 25px;
  }

  .tutorial .videoTutorial {
    padding: 0 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .tutorial .videoTutorial .judulVideo p {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }
  .tutorial .videoTutorial .video {
    width: 100%;
    height: 80%;
  }

  /* Desain */
  .desain .desainCard {
    width: 900px;
  }

  /* Faq */
  .faq .faqJudul{
    font-size: 1.3em;
  }
  .desain .desainCard .desainImg {
    min-width: 160px;
  }

  .faq{
    padding: 30px 0;
  }

  .faq .faqBox{
    padding: 20px 50px;
  }

  .faq .faqBox .faqCard{
    padding: 20px 20px;
  }

  .faq .faqBox .faqCard h3{
    font-size: 1.2em;
  }

  /* Kontak */

  .kontak .kontakIsi .infoKontak a{
    margin: 20px 0;
  }

  /* Halaman desain */
  .hd .hdBox{
    padding: 0 10px;
    max-width: 992px;
  }
}

@media screen and (max-width: 991px) {
  nav {
    padding: 30px 50px;
    /* justify-content: space-evenly; */
  }

  nav.sticky {
    padding: 5px 50px;
  }

  nav ul li:nth-child(3) {
    margin-right: 0px;
  }

  /* Header */
  .content {
    flex-direction: column;
  }
  .content {
    flex: wrap;
  }
  .content .imgBox {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content .imgBox img {
    width: 80%;
  }

  .content .textBox {
    flex: 50%;
    order: 2;
    margin-top: 20px;
  }
  .content .textBox h1 {
    font-size: 25px;
  }

  .content .textBox p {
    font-size: 18px;
  }

  /* Fitur */
  .fitur .cardBox {
    width: 660px;
  }

  /* Tutorial */

  .tutorial {
    flex-direction: column;
  }

  .tutorial .textTutorial {
    padding: 0 50px;
  }

  .tutorial .textTutorial .textJudul {
    margin-bottom: 10px;
  }

  .tutorial .textTutorial .langkahBox {
    margin: 5px 0 50px 0;
  }

  .tutorial .textTutorial .langkahBox .textLangkah .imgLangkah img {
    width: 50px;
  }

  .tutorial .videoTutorial {
    padding: 10px 50px;
  }

  .tutorial .videoTutorial .judulVideo p {
    margin-bottom: 25px;
  }
  .tutorial .videoTutorial .video {
    width: 90%;
    height: 300px;
  }

  /* Desain */
  .desain .desainCard {
    width: 700px;
  }

  .desain .desainCard .desainImg {
    min-width: 190px;
  }

  /* Faq */

  .faq .faqBox{
    padding: 0 ;
    margin: 10px 30px;
  }

  .faq .faqBox .faqCard{
    padding: 20px 20px;
  }

  /* Kontak */
  .kontak{
    padding: 50px 0;
  }

  .kontak .kontakIsi{
    position: relative;
    width: 100%;
    padding: 0 10px;
  }

  .kontak .kontakIsi .infoKontak p{
    font-size: .9em;
  }

  /* Halaman Desain */
  .hd{
    padding-top: 150px;
  }
  .hd .hdJudul{
    text-align: center;
  }

  .hd .hdJudul h1{
    font-size: 1.6em;
  }

  .hd .hdJudul p{
    font-size: .95em;
  }

  .hd .hdBox .hdImg{
    width: 200px;
  }

  /* Halaman Login */


  .lr{
    max-width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lr .login{
    top: 0;
    height: 100%;
  }

  .lr .formBx{
    width: 100%;
    height: 400px;
    top: 0;
    box-shadow: none;
  }

  .lr .login .box{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
  }
  
  .lr .login .box.signin{
    top: 0;
  }

  .lr .formBx.active{
    left: 0;
    top: 100px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 20px 20px;
  }

  nav.sticky {
    padding: 5px 20px;
  }

  nav ul li {
    margin: 0 0;
  }
  nav ul li:nth-child(3) {
    margin-right: 0;
  }

  nav ul li a {
    margin: 0 2px;
    letter-spacing: 1px;
  }

  /* Header */
  .content {
    flex-direction: column;
  }
  .content {
    flex: wrap;
  }
  .content .imgBox {
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content .imgBox img {
    width: 80%;
  }
  .content .textBox {
    flex: 40%;
    order: 2;
  }

  .content .textBox h1 {
    font-size: 25px;
  }

  .content .textBox p {
    font-size: 16px;
  }

  /* Fitur */
  .fitur .cardBox {
    justify-content: center;
  }

  /* Tutorial */

  .tutorial .textTutorial {
    padding: 0 0;
  }

  .tutorial .textTutorial .langkahBox .textLangkah .imgLangkah img {
    width: 45px;
  }

  .tutorial .videoTutorial {
    padding: 10px 0;
  }

  .tutorial .videoTutorial .judulVideo p {
    margin-bottom: 20px;
  }
  .tutorial .videoTutorial .video {
    width: 450px;
    height: 270px;
  }

  /* Desain */
  .desain .desainCard {
    width: 500px;
  }

  .desain .desainCard .desainImg {
    min-width: 160px;
  }

  /* Faq */

  .faq .faqJudul{
    font-size: 1.3em;
  }

  .faq .faqBox{
    margin: 10px;
  }

  .faq .faqBox .faqCard{
    width: 100%;
    margin: 0 10px;
  }

  /* Kontak */
  .kontak{
    align-items: center;
  }

  .kontak .kontakIsi{
    justify-content: center;
    width: 600px;
  }

  .kontak .kontakIsi .infoKontak{
    margin: 0 25px;
  }

  /* Halaman Desain */
  .hd{
    padding-top: 130px;
  }

  .hd .hdJudul{
    padding: 0 20px;
  }
  .hd .hdJudul h1{
    font-size: 1.3em;
  }

  .hd .hdJudul p{
    font-size: .8em;
  }
}

@media screen and (max-width: 567px) {
  nav {
    padding: 5px 20px;
  }

  nav .logo{
    font-size: 1.3em;
  }
  /* Menu slide */

  nav .menu {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    top: 45px;
    padding-top: 5px;
    left: -100%;
    transition: 0.5s;
    height: 270px;
    background: var(--bg-color);
  }

  nav .menu.slide-menu {
    left: 0;
    padding: 0 20px;
  }
  nav .menu ul li:nth-child(3) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  nav .menu ul li:nth-child(5) {
    margin-top: 5px;
  }

  nav .menu ul {
    display: block;
    text-align: center;
  }

  nav .menu ul {
    margin-top: 10px;
  }

  nav .menu ul li a {
    display: inline-block;
    width: 100%;
    padding: 7px 0;
    margin: 2px 0;
    border-radius: 20px;
    font-size: .9rem;
  }

  nav .menu ul li a:hover {
    color: var(--bg-color2);
    background: var(--text-color);
  }

  nav ul li:nth-child(5) a:hover {
    border-radius: 20px;
    color: var(--text-color);
    background: none;
    border: var(--text-color) 2px solid;
  }

  .menu-toggle {
    display: flex;
  }

  /* Header */
  .content .textBox {
    flex: 60%;
  }

  .content .textBox h1 {
    font-size: 1.3rem;
  }

  .content .textBox p {
    font-size: 0.9rem;
  }

  .content .imgBox {
    justify-content: center;
    display: flex;
  }

  .content .imgBox img {
    width: 70%;
  }

  /* FItur */
  .fitur .textBox {
    padding: 0 15px;
  }
  .fitur .textBox h2 {
    font-size: 1.3rem;
  }

  .fitur .textBox p {
    font-size: 0.9rem;
  }

  .fitur .cardBox {
    justify-content: left;
    padding: 0;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .fitur .cardBox .card {
    min-width: 290px;
  }

  .fitur .cardBox::-webkit-scrollbar {
    display: none;
  }

  /* .fitur .cardBox::-webkit-scrollbar-track {
    background: var(--text-color);
    border-radius: 100vh;
    margin: 0 2em;
  } */
  /* .fitur .cardBox::-webkit-scrollbar-thumb {
    background: var(--blue-color2);
    border: var(--text-color) 2px solid;
    border-radius: 100vh;
  } */

  .fitur .cardBox .textCard h2 {
    font-size: 1.1rem !important;
  }

  .fitur .cardBox .textCard p {
    line-height: 20px;
  }

  /* Tutorial */
  .tutorial {
    padding: 50px 0;
  }

  .tutorial .textTutorial {
    margin: 15px;
    padding: 0;
  }

  .tutorial .textTutorial .textJudul h2 {
    font-size: 1.4rem;
  }

  .tutorial .textTutorial .textJudul p {
    font-size: 0.8rem;
  }

  .tutorial .textTutorial .langkahBox {
    margin: 0;
  }

  .tutorial .textTutorial .langkahBox .textLangkah{
    margin: 20px 0;
    line-height: 20px;
  }

  .tutorial .textTutorial .langkahBox .textLangkah .imgLangkah img {
    width: 30px;
  }

  .tutorial .textTutorial .langkahBox .textLangkah p {
    font-size: 0.8rem;
  }

  .tutorial .videoTutorial {
    margin: 0 10px 30px 10px;
  }

  .tutorial .videoTutorial .judulVideo p {
    margin-bottom: 20px;
  }

  .tutorial .videoTutorial .video {
    width: 300px;
    height: 170px;
  }

  /* Desain */

  .desain .judulDesain h3 {
    letter-spacing: 1.5px;
  }
  .desain .judulDesain p {
    font-size: 0.8rem;
  }
  .desain .desainCard {
    width: 100%;
    padding: 0 20px;
  }

  .desain .desainCard .desainImg {
    min-width: 140px;
  }

  .desain .desainCard::-webkit-scrollbar {
    display: none;
  }

  .desain .desainKoleksi p a {
    font-size: 0.8rem;
  }

  /* Faq */

  .faq .faqJudul{
    font-size: 1.2em;
  }

  .faq .faqBox{
    margin: 0;
  }

  .faq .faqBox .faqCard{
    width: 100%;
    margin: 0;
    letter-spacing: 1px;
  }

  .faq .faqBox .faqCard h3{
    font-size: 1em;
    letter-spacing: 1.5px;
  }
  .faq .faqBox .faqCard p{
    font-size: .8em;
  }

  /* Kontak */
  .kontak{
    /* background: lightcoral; */
    align-items: flex-start;
  }

  .kontak .kontakJudul{
    width: 100%;
  }

  .kontak .kontakIsi{
    justify-content: left;
    width: 320px;
  }
  
  .kontak .kontakIsi .infoKontak a{
    margin: 10px 0;
  }

  .kontak .kontakIsi .infoKontak a .kontakImg{
    width: 20px;
  }
  .kontak .kontakIsi .infoKontak a .kontakImg img{
    width: 100%;
    height: auto;
  }

  .kontak .kontakIsi .infoKontak a .kontakTeks{
    font-size: .9em;
  }

  /* Footer */

  footer{
    font-size: .7em;
  }

  /* Halaman Desain */

  .hd {
    padding-top: 90px;
    overflow: hidden;
  }

  .hd .hdJudul h1{
    font-size: 1.1em;
  }

  .hd .hdBox{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .hd .hdBox .hdImg{
    width: 90%;
    margin: 5px;
  }

  /* Halaman Login */
  .containerLr{
    min-height: 600px;
  }
  .lr{
    height: 500px;
  }

  .lr .login{
    top: 0;
    height: 95%;
  }

  .lr .login .box button{
    padding: 5px 10px;
  }

  .lr .formBx{
    height: 380px;
  }

  .lr .login .box h2{
    font-size: 1em;
    margin-bottom: 5px;
  }
  
}
